:root {
  padding-top: 0% !important;

  /* COLORS */
  --black-color: #231f20;
  --white-color: #f7f7f7;
  --red-color: rgb(141, 18, 51);
  --gold-color: rgb(242, 221, 114);
  --yellow-color: #fbcc34;
  --green-color: rgb(18, 140, 45);
  --menta-color: #53b294;
  --brown-color: #aa7265;

  /* FONTS */

  --title: "Barlow", sans-serif;
  --subtitle: "Fjalla One", sans-serif;
  --paragraph: "Nanum Gothic", sans-serif;

  /* SHADOWS */
  --shadow: 0px 2px 6px rgba(141, 18, 51, 0.4);
  --shadow-light: 0px 2px 6px rgba(242, 221, 114, 0.4);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background: var(--white-color);
}

html h1 {
  font-size: 2rem;
  font-family: var(--title);
  font-weight: 700;
}

html h2 {
  font-size: 2.8rem;
  font-family: var(--subtitle);
  font-weight: 400;
}

html p,
label {
  font-size: 1.2rem;
  font-family: var(--paragraph);
  font-weight: 400;
}

/* HEADER */
header .main {
  width: 100vw;
}

.navbar-light {
  background-color: var(--white-color) !important;
}

nav img {
  width: 10rem;
}

nav ul li {
  font-size: 1.4rem;
}

nav ul .menu__services--items {
  background-color: var(--white-color);
  border: none;
}

/* /HEADER */
/* MAIN */
.chat {
  position: fixed;
  height: 60px;
  width: 60px;
  bottom: 30px;
  right: 20px;
  z-index: 10;
}

.chat a img {
  width: 100%;
}

/* Home */
.carousel {
  position: relative;
}

.carousel .overlay {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--gold-color);
  z-index: 1;
}

.carousel .overlay .title {
  position: absolute;
  top: 40%;
}

.overlay h1 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  background-color: rgba(141, 18, 51, 0.7);
}

.main img {
  max-height: 90vh;
  width: 100vw;
  object-fit: cover;
}

/* about us */
.about_us .container {
  height: 100%;
}

.about_us .about_us--picture {
  height: 100%;
}

.about_us .about_us img {
  height: 100%;
  width: 75%;
  border-radius: 20px;
  /* box-shadow: var(--shadow); */
}

.about_us h2 {
  color: var(--menta-color);
}

.about_us p {
  font-size: 1.5rem;
}

/* our services */
.our_services h2 {
  color: var(--brown-color);
}

.our_services .card {
  border: none;
  max-width: 400px;
}

.our_services .card h5 {
  font-size: 1.6rem;
}

.our_services .card p {
  font-size: 1.4rem !important;
}

.our_services img {
  border-radius: 15px;
  /* box-shadow: var(--shadow) */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* talk to us */
.talk_to_us {
  height: 100%;
  width: 100vw;
  background: var(--red-color);
}

.talk_to_us h2 {
  color: var(--gold-color);
}

.talk_to_us label {
  color: var(--white-color);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control.has-error {
  border: 2px solid rgb(215, 225, 109);
}

.form-control.no-error {
  border: 2px solid green;
}

.invalid-feedback {
  /* display: block; */
  color: white;
  background-color: rgba(240, 255, 255, 0.092);
}

/* gallery */
.gallery {
  height: 100%;
  width: 100vw;
}

.gallery h2 {
  color: var(--red-color);
}

.gallery .card {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.item-picture {
  margin: 0px 0px;
  height: 300px;
  border: none;
}

.gallery img {
  border-radius: 15px;
  height: 100%;
  object-fit: cover;
}
/* /MAIN */

/* FOOTER */
footer {
  background: var(--red-color);
}

footer .container {
  color: var(--white-color);
  width: 100%;
}

footer ul {
  list-style: none;
  font-size: 1.3rem;
}

footer ul a {
  text-decoration: none;
  color: var(--white-color);
}

footer .profile {
  border-top: solid 1px;
  border-color: #f7f7f7;
}

footer .profile h6 {
  color: var(--white-color);
  font-size: 1.1rem;
}
footer .profile h6 span a {
  color: var(--white-color);
}

/* /FOOTER */
@media screen and (min-width: 1024px) {
  /* MAIN */
  
    html h2 {
      font-size: 5rem;
      font-family: var(--subtitle);
      font-weight: 400;
    }
  
    html p {
      font-size: 1.7rem;
    }
  
    html label .from_label {
      font-size: 1.7rem;
    }
  
    /* Header */
  
    nav img {
      width: 11rem;
    }
  
    nav ul li {
      font-size: 1.4rem;
    }
  
    nav ul .menu__services--items {
      background-color: var(--white-color);
      border: none;
      width: 22rem;
    }
  
    nav ul .menu__services--items li {
      height: 3.5rem;
      padding-bottom: 0.3rem;
      padding-left: 0.5rem;
    }
  
    /* Home */
    .overlay h1 {
      font-size: 5.5rem;
      text-transform: uppercase;
    }
  
    .about_us img {
      width: 55%;
      border-radius: 25px;
      /* box-shadow: var(--shadow); */
    }
  
    /* Our services */
    .our_services img {
      width: 100%;
    }
  
    .our_services .card h5 {
      font-size: 2rem;
    }
  
    .our_services .card p {
      font-size: 1.6rem;
    }
  
    /* Gallery */
    .gallery .card {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  
    /* FOOTER */
    footer .container h3 {
      font-size: 1.4rem;
    }
  
    footer .container p {
      font-size: 1.2rem;
    }
  
    footer .container li {
      padding-top: 0.5rem;
      display: block;
    }
}

/* @media (min-width: 850px) {
  .overlay h1 {
    font-size: 8rem;
    text-transform: uppercase;
  }
}

@media (min-width: 550px) {
  .overlay h1 {
    font-size: 5rem;
    text-transform: uppercase;
  } */
}
